<launch>
	<rosparam command="load" file="$(find crazyflie_human)/config/pedestrian_pred.yaml" />

	<group ns="pred_namespace">
		<include file="$(find crazyflie_human)/launch/simulated_demo.launch">
		</include>
	</group>

	<!-- <group ns="rviz_namespace"> -->
		<!-- <include file="$(find crazyflie_human)/launch/rviz.launch"> -->
		<!-- </include> -->
	<!-- </group> -->

	

  <!-- <node name="turtlebot_pose" pkg="safe_tbot" type="turtlebot_pose.py" respawn="false" output="screen" /> -->

  <node name="turtlebot_planner" pkg="safe_tbot" type="turtlebot_planner.py" respawn="false" output="screen" />
  <!-- <node name="turtlebot_control" pkg="safe_tbot" type="turtlebot_control.py" respawn="false" output="screen" /> -->


</launch>